###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text eol=crlf

###############################################################################
# Treat all files in the `rof` directory as binary.
###############################################################################
rof/** binary
